<form [formGroup]="loginForm">
    <label for="trainer-name">What's your name: </label>
    <input id="trainer-name" type="text" formControlName="trainerName" placeholder="Enter your name trainer"
        name="trainer-name" required minlength="2" maxlength="20">
    <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
        <p *ngIf="trainerName.errors.required">required</p>
        <p *ngIf="trainerName.errors.minLength">too short</p>
        <p *ngIf="trainerName.errors.maxlength">too ong</p>
    </div>
    <button (click)="onStartClick()" [disabled]="loginForm.invalid || loading" type="button">Let's Go!</button>
</form>